* {
    box-sizing: border-box;
}

.App {
    background-color: #282c34;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #61dafb;
    height: 100vh;
}

.counter {
    width: 500px;
    border: 2px solid #61dafb;
    border-radius: 10px;
    padding: 20px;
}

.counter-display {
    padding: 50px 0;
    border: 2px solid #61dafb;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.counter-number {
    font-size: 60px;
    font-weight: bold;
}

.counter-buttons {
    border: 2px solid #61dafb;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.counter-button {
    background-color: #61dafb;
    color: #282c34;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 20px;
}

.input-title {
    font-size: 30px;
    font-weight: bold;
}

.input {
    margin-left: 15px;
    padding: 5px;
    text-align: center;
    border: 2px solid #61dafb;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
}

